.projetos {
    margin-top: 100px;
    height: auto;
    margin-bottom: 200px;
}


.titulo{
    text-align: center;
}

.titulo h1{
    font-size: 4rem;
    color: transparent;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(193, 13, 70), rgba(185, 12, 12, 0.8)100%);
    background-clip: text; /* Para outros navegadores */
    transition: 0.5s;
    text-shadow:#a70a3c 1px 0 40px;
}

.container{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.proj{
    border-radius: 20px;
    border-bottom: #a70a3c 2px solid;
    box-shadow: #a70a3c27 0px 0px 20px 5px;
    margin-top: 100px;
    height: 550px;
    width: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proj1 {
    transition: background 0.5s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.900)), url(../imgs/Captura\ de\ tela_19-11-2024_85835_.jpeg);
    background-position: center;
    background-size: 105%;
    background-clip: content-box;
    background-repeat: no-repeat;
}

.proj1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../imgs/Captura\ de\ tela_19-11-2024_85835_.jpeg);
    background-position: bottom;
    background-size: 100%;
    background-clip: content-box;
    background-repeat: no-repeat;
}

.proj2 {
    transition: background 0.5s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.900)), url(../imgs/Home.png);
    background-position: top;
    background-size: 105%;
    background-clip: content-box;
    background-repeat: no-repeat;
}

.proj2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../imgs/Home.png);
    background-position: center;
    background-size: 100%;
    background-clip: content-box;
    background-repeat: no-repeat;
}

.proj3 {
    transition: background 0.5s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.900));
    background-position: top;
    background-size: 105%;
    background-clip: content-box;
    background-repeat: no-repeat;
}

.proj3:hover {
    background-position: center;
    background-size: 100%;
    background-clip: content-box;
    background-repeat: no-repeat;
}

.proj h1, .proj p {
    text-align: center;
    color: white;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.proj:hover h1,
.proj:hover p {
    opacity: 0;
    cursor: default;
}
